<section class="section-production">
  <header class="header-content">
     <img class="logo-m" src="assets/images/simbolo-logo-c.png" alt="" />
    <span class="sub-title">Feito Com Excelência</span>
    <h3 class="title">Nosso Melhor Licor</h3>
    <span class="desc"
      >Maracujá intenso com um toque suave de chocolate branco. Uma combinação
      que conquista desde o primeiro gole.</span
    >
    <img class="logo" src="assets/images/simbolo-logo-c.png" alt="" />
  </header>
  <main class="main-content">
    <img class="product" src="assets/images/Garrafa.png" alt="" />
    <section class="container-product">
      <div class="info-prod">
        <h4 class="title">Licor Artesanal</h4>
        <span class="sub-title">Maracujá Com Chocolate Branco</span>
      </div>

      <div class="content-price">
        <div class="content-price__desc">
          <div class="content-table-price">
            <div class="c-c-price__desc unit">
              <span class="sub-title">Unidade</span>
              <p class="price">R$ 147,90</p>
            </div>
          </div>

          <div class="content-table-price">
            <div class="c-c-price__desc unit-second">
              <span class="sub-title">2 Unidades</span>
              <p class="price">R$ 139,90</p>
            </div>
            <div class="promotion ">
              <span>R$ 147,90</span>
              <span class="price-off">5% off</span>
            </div>
          </div>

          <div class="content-table-price">
            <div class="c-c-price__desc unit-terciary">
              <span class="sub-title">3 Unidades</span>
              <p class="price">R$ 132,90</p>
            </div>
            <div class="promotion">
              <span>R$ 139,90</span>
              <span class="price-off">10% off</span>
            </div>
          </div>

        </div>

        <div class="link-product">
          <a href="https://licorjade.mycartpanda.com/checkout#no-back-button" target="_blank" class="buy-item">Comprar</a>
        </div>
      </div>
    </section>
  </main>

  <!-- <div class="tertiary-image">
    <img src="assets/images/effect.png" alt="" />
  </div>
  <div class="tertiary-image-second">
    <img src="assets/images/effect.png" alt="" />
  </div> -->
  <!-- <div class="tertiary-image-terc">
    <img src="assets/images/effect.png" alt="" />
  </div> -->
</section>

<!-- <section class="content-banner">
     <img src="assets/images/banner-pc.jpg" alt="">
</section> -->
