<section class="content-img">
     <!-- <img class="img" src="assets/images/testeImg.png" alt="" /> -->


     <main class="c-content">
  <header class="header-newsletter">
    <h4 class="title">NEWSLETTER</h4>
    <span class="sub-title">Receba novidades e sabores exclusivos</span>
    <img class="logo" src="assets/images/simbolo-logo-c.png" alt="">
    <p class="desc">
      Inscreva-se para receber ofertas especiais <br> Lançamentos e curiosidades diretamente no e-mail.
    </p>
  </header>

  <section class="newsletter-form">
     <input type="email" #emailInput>
     <button class="button-env" (click)="enviarEmail(emailInput)">Enviar</button>

  </section>
</main>
</section>


