<section class="info-complementar">
  
       <div class="content-info-lading">
    <img class="logo" src="assets/images/jade-logo.png" alt="" />

    <div class="menu-location">
      <img class="logo-b" src="assets/images/b-brasil.png" alt="" />
      <span>Brasil </span>
    </div>
  </div>
</section>



  <!-- <div class="item">
    <a href="https://www.instagram.com/seuusuario" target="_blank" class="link">
      <img src="assets/images/instagram.png" alt="Instagram" class="icon" />
      <span class="instagram">Instagram</span>
    </a>
  </div>
  <div class="item">
    <div class="link">
      <img src="assets/images/pin.png" alt="Localização" class="icon" />
      <span>Rua Soledade, nº 549, Cascavel – PR</span>
    </div>
  </div>
  <div class="item">
    <div class="link">
      <img src="assets/images/whatsapp.png" alt="Telefone" class="icon" />
      <span>(99) 99999-9999</span>
    </div>
  </div> -->






  <!-- <div class="content-info-lading">
    <img class="logo" src="assets/images/jade-logo.png" alt="" />

    <div class="menu-location">
      <img class="logo-b" src="assets/images/b-brasil.png" alt="" />
      <span>Brasil </span>
    </div>
  </div> -->