<main>
     
      <ul class="content-history">
            <li class="story-step">
                 <span class="step-number">01.</span>
                 <div class="story-content">
                     <p class="story-main">Origem</p>
                     <p class="story-desc">Colheita Natural</p>
                 </div>
            </li>
                 <li class="story-step">
                 <span class="step-number">02.</span>
                 <div class="story-content">
                     <p class="story-main">Produto</p>
                     <p class="story-desc">Sabor Que Encanta</p>
                 </div>
            </li>
                 <li class="story-step">
                 <span class="step-number">03.</span>
                 <div class="story-content">
                     <p class="story-main">História</p>
                     <p class="story-desc">Tradição Que Dura</p>
                 </div>
            </li>
      </ul>

<section>
     
            <div class="c-history">
               <span class="sub-title">Onde tudo começou</span>
               <h3 class="title">Nossa Historia</h3>
               <p class="desc">Tudo começou com um desejo simples: transformar o sabor marcante do maracujá em algo surpreendente. Foi assim que nasceu a ideia de um licor artesanal que unisse o azedinho da fruta com a cremosidade do chocolate branco.<br><br>
               Cada garrafa é resultado de muita experimentação, cuidado nos detalhes e paixão pela alquimia dos sabores. Produzimos em pequenos lotes, com ingredientes naturais e um processo que respeita o tempo e valoriza o sabor autêntico. <br><br>
                O resultado? Um licor inusitado, delicado e memorável — perfeito para brindar momentos especiais ou simplesmente apreciar o que há de melhor em um copo.
               </p>
            </div>

            <div class="content-image">
                <img class="primary-image" src="assets/images/banner-tablet.jpg" alt="">
                <img class="m-primary-image" src="assets/images/banner-mobile.jpg" alt="">
            </div>

            <div class="secondary-image">
               
            </div>
            <div class="tertiary-image">
               <img src="assets/images/effect.png" alt="">
            </div>
      
</section>   
</main>