<section>
     <div class="details-product">
          <span class="sub-title">Licor ARTESANAL</span>
          <h1 class="title">MARACUJÁ</h1>
          <p class="desc">
           Um sabor que é puro Brasill<br>Nosso licor de maracujá com chocolate branco é feito com frutas selecionadas<br> ingredientes naturais e um processo artesanal que respeita cada etapa da criação. <br><br> Nada de fórmulas prontas ou sabores artificiais. <br> Aqui, cada garrafa carrega a intensidade do maracujá<br> A suavidade e cremosidade do chocolate branco<br> — uma combinação irresistível que surpreende a cada gole.</p>
          <div class="product-process">
               <a  class="buy-item" href="https://licorjade.mycartpanda.com/checkout#no-back-button"target="_blank" >Comprar</a>
          </div>
     </div>
     <div class="container-product">
          <div class="content-product">
               <img class="product" src="assets/images/fundo-g.png" alt="">
          </div>
     </div>

     <!-- //para mobile -->
     <div class="m-product-process">
               <a href="https://licorjade.mycartpanda.com/checkout#no-back-button" target="_blank">Comprar</a>
     </div>

</section>