.footer {
     background-color: #2B211C;
     color: #F5EBDA;
     display: flex;
     text-align: center;
     justify-content: center;
     padding: 1rem 1.1rem;

     small {
          font-family: 'Inter', sans-serif;
          font-size: 0.85rem;
          margin: 34px 0px;
          height: 75px;
          // border: 1px solid red;
          line-height: 1.7;
     }
}


@media (max-width: 1024px) and (min-width: 768px){
     .footer {
                 small {
                    font-size: 12.5px ;
               
                    
                 }
     }
}


@media (max-width: 767px) {
          .footer {
               padding: 1px 1rem 1.7rem 1rem;

                 small {
                         font-size: 10.3px ;
                         margin: 30px 0px;
                         max-width: 300px;
                         line-height: 1.5;
                         margin: 30px auto;
                 }
     }
}